# Exercise 4.6 Step 2

# 01. Importing Libraries

In [5]:
# importing libraries
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [8]:
# create path
path = r'C:\Users\kthav\My Pc\Desktop\Career Foundry\Data Immersion\Python Fundamentals for Data Analytics\11-12-2024 Instacart Basket Analysis'

In [10]:
# import orders_products_combined as df_ords_prods_com
df_ords_prods_com = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [12]:
#check shape
df_ords_prods_com.shape

(32281329, 13)

In [15]:
# import products_checked.csv as df_prods_chk
df_prods_chk = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [17]:
# check output
df_ords_prods_com.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [19]:
# check output
df_prods_chk.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## In order to save memory and make the new dataset cleaner I have decided to delete some unnecessary columns.
from df_ords_prods_com - columns Unnamed:01, Unnamed:0, _merge

from df_prods_chk - columns Unnamed:0

In [22]:
print(df_ords_prods_com.columns)

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_last_order',
       'first_order', 'product_id', 'add_to_cart_order', 'reordered',
       '_merge'],
      dtype='object')

In [24]:
# drop columns 'Unnamed: 01', 'Unamed: 0' and '_merge' from df_ords_prods_com
df_ords_prods_com.drop(columns = {'Unnamed: 0.1', 'Unnamed: 0', '_merge'}, inplace = True)

In [26]:
print(df_ords_prods_com.columns)

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered'],
      dtype='object')

In [28]:
print(df_prods_chk.columns)

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [30]:
# drop column 'Unnamed: 0' from df_ords_chk
df_prods_chk.drop(columns = {'Unnamed: 0'}, inplace = True)

In [32]:
print(df_prods_chk.columns)

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [34]:
df_ords_prods_com.shape

(32281329, 10)

In [36]:
df_prods_chk.shape

(49672, 5)

# 03. Merge Data

In [39]:
# merge df_ords_prods_com and df_prods_chk  as ords_prods_merge using inner join
df_ords_prods_merge = df_ords_prods_com.merge(df_prods_chk, on = 'product_id', indicator = True)

In [41]:
# check merge output
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [45]:
# check merge frequency
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32251812
left_only            0
right_only           0
Name: count, dtype: int64

## The merge was sucessful with all rows from both dataframes matched on the 'product_id' key. Since we used an inner join only rows that exist in both df's wre merged.

# 04. Exporting Data

In [50]:
# export df_ords_prods_merge as ords_prods_merge.pkl
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merge.pkl'))