# Exercise 4.7

# 01. Importing Libraries

In [37]:
# import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [40]:
# create path
path = r'C:\Users\kthav\My Pc\Desktop\Career Foundry\Data Immersion\Python Fundamentals for Data Analytics\11-12-2024 Instacart Basket Analysis'

In [42]:
# import ords_prods_merge.pkl as df_opm
df_opm = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [46]:
df_opm.shape

(32251812, 15)

# 03. Deriving New Variables

In [9]:
df = df_opm[:1000000]

In [11]:
df.shape

(1000000, 15)

In [13]:
# Define a function

def price_label(row):

    if row['prices'] <= 5:
        return 'low range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid range product'
    elif row ['prices'] > 15:
        return 'High range product'
    else: return np.nan

In [15]:
# Apply the function

df['price_range'] = df.apply(price_label, axis=1)

C:\Users\kthav\AppData\Local\Temp\ipykernel_14256\93659844.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [17]:
df['price_range'].value_counts(dropna = False)

price_range
Mid range product     673183
low range product     314392
High range product     12425
Name: count, dtype: int64

In [19]:
# check max values 
df['prices'].max()

99999.0

In [21]:
df.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'price_range'],
      dtype='object')

In [23]:
# count the number of time 99999.0 appears in 'prices'
count = (df['prices'] == 99999.0).sum()
print(f"The value 99999.0 appears {count} times in the 'prices' column.")

The value 99999.0 appears 15 times in the 'prices' column.

In [25]:
# filter rows with value 99999.0
filtered_rows = df[df['prices'] == 99999.0]
print(filtered_rows)

        order_id  user_id  order_number  orders_day_of_week  \
128911    183964      873             3                   0
128924   1851256      873             4                   6
284218   1915696     1893             1                   5
284229   2763293     1893             2                   4
284252   2564805     1893             4                   1
499076    949012     3339             1                   1
499119    420057     3339             2                   0
499141   1511997     3339             3                   1
499158   1153448     3339             4                   4
499180   2669259     3339             5                   4
527458    965345     3531            27                   2
767471   2291230     5034             6                   1
767485   2324832     5034             7                   6
953246    323856     6175            37                   2
960509    842052     6222            10                   1

        order_hour_of_day  days_since_last_order  first_order  product_id  \
128911                 10                    7.0        False       33664
128924                 12                   13.0        False       33664
284218                 17                    NaN         True       33664
284229                 16                   13.0        False       33664
284252                 17                   30.0        False       33664
499076                 14                    NaN         True       33664
499119                 11                   13.0        False       33664
499141                 18                    8.0        False       33664
499158                 16                   10.0        False       33664
499180                 14                   21.0        False       33664
527458                 19                    8.0        False       33664
767471                 17                   30.0        False       33664
767485                 11                   30.0        False       33664
953246                  9                    6.0        False       33664
960509                 18                   17.0        False       33664

        add_to_cart_order  reordered           product_name  aisle_id  \
128911                 11          0  2 % Reduced Fat  Milk        84
128924                  8          1  2 % Reduced Fat  Milk        84
284218                 10          0  2 % Reduced Fat  Milk        84
284229                  6          1  2 % Reduced Fat  Milk        84
284252                  3          1  2 % Reduced Fat  Milk        84
499076                  8          0  2 % Reduced Fat  Milk        84
499119                 29          1  2 % Reduced Fat  Milk        84
499141                 14          1  2 % Reduced Fat  Milk        84
499158                  1          1  2 % Reduced Fat  Milk        84
499180                  6          1  2 % Reduced Fat  Milk        84
527458                  2          0  2 % Reduced Fat  Milk        84
767471                  3          0  2 % Reduced Fat  Milk        84
767485                  9          1  2 % Reduced Fat  Milk        84
953246                  6          0  2 % Reduced Fat  Milk        84
960509                  2          0  2 % Reduced Fat  Milk        84

        department_id   prices _merge         price_range
128911             16  99999.0   both  High range product
128924             16  99999.0   both  High range product
284218             16  99999.0   both  High range product
284229             16  99999.0   both  High range product
284252             16  99999.0   both  High range product
499076             16  99999.0   both  High range product
499119             16  99999.0   both  High range product
499141             16  99999.0   both  High range product
499158             16  99999.0   both  High range product
499180             16  99999.0   both  High range product
527458             16  99999.0   both  High range product
767471             16  99999.0   both  High range product
767485             16  99999.0   both  High range product
953246             16  99999.0   both  High range product
960509             16  99999.0   both  High range product

In [29]:
# Check min values
df['prices'].min()

1.0

In [31]:
# filter df to include only values over 15 in prices
filtered_df = df[df['prices'] > 15]
print(filtered_df)

        order_id  user_id  order_number  orders_day_of_week  \
398      2086598        6             1                   5
401       298250        6             2                   4
436      2402008        7             2                   1
465       121053        7             3                   0
480      1695742        7             4                   2
...          ...      ...           ...                 ...
999329   2442470     6468             9                   1
999332   2442470     6468             9                   1
999388     14321     6468            13                   5
999394     14321     6468            13                   5
999880   2720655     6472            17                   2

        order_hour_of_day  days_since_last_order  first_order  product_id  \
398                    18                    NaN         True       38293
401                    16                    6.0        False       38293
436                    19                   30.0        False       13198
465                    18                   30.0        False       13198
480                    10                    9.0        False       13198
...                   ...                    ...          ...         ...
999329                  7                   30.0        False       23805
999332                  7                   30.0        False        9020
999388                  8                   13.0        False        9020
999394                  8                   13.0        False       38293
999880                 22                    3.0        False       14011

        add_to_cart_order  reordered                      product_name  \
398                     2          0              Ground Turkey Breast
401                     1          1              Ground Turkey Breast
436                    14          0              85% Lean Ground Beef
465                    22          1              85% Lean Ground Beef
480                    13          1              85% Lean Ground Beef
...                   ...        ...                               ...
999329                  5          1             Peppered Turkey Bacon
999332                  8          1  Boneless Skinless Chicken Thighs
999388                  1          1  Boneless Skinless Chicken Thighs
999394                  7          0              Ground Turkey Breast
999880                  9          0       Oven Roasted Chicken Breast

        aisle_id  department_id  prices _merge         price_range
398           35             12    19.6   both  High range product
401           35             12    19.6   both  High range product
436          122             12    23.2   both  High range product
465          122             12    23.2   both  High range product
480          122             12    23.2   both  High range product
...          ...            ...     ...    ...                 ...
999329       106             12    24.6   both  High range product
999332        35             12    25.0   both  High range product
999388        35             12    25.0   both  High range product
999394        35             12    19.6   both  High range product
999880        49             12    20.8   both  High range product

[12425 rows x 16 columns]

In [50]:
# check frequency 'orders_day_of_week'
df_opm['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6176236
1    5632002
6    4476684
2    4192809
5    4185192
3    3822175
4    3766714
Name: count, dtype: int64

In [118]:
# create loop for 'orders_day_of_week' to determine busiest, least busy and regular buy days.
result = []

for value in df_opm["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [120]:
# create new column 'busiest day'
df_opm['busiest_day'] = result

In [122]:
# add column 'busiest day' to df_opm
df_opm['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22308862
Busiest day        6176236
Least busy         3766714
Name: count, dtype: int64

# Exercise 4.7 Task

## Step 2

In [81]:
# create loop for 'orders_day_of_week' to determine the twommost busiest days and the two slowest days.
result_2 = []

for value in df_opm['orders_day_of_week']:
    if value  == 0 or value == 1:
        result_2.append('Busiest days')
    elif value  == 3 or value == 4:
        result_2.append('Slowest days')
    else:
        result_2.append('Regulary busy')

In [112]:
# create new column 'busiest days'
df_opm['busiest days'] = result_2

In [114]:
# add column 'busiest days' to df_opm
df_opm['busiest days'].value_counts(dropna = False)

busiest days
Regulary busy    12854685
Busiest days     11808238
Slowest days      7588889
Name: count, dtype: int64

## Step 4

In [88]:
# check frequency of order_hour_of_day
df_opm['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2748465
11    2722881
14    2677122
15    2649104
13    2648742
12    2605713
16    2523114
9     2443178
17    2078296
8     1709698
18    1628700
19    1252038
20     971676
7      887352
21     792389
22     630729
23     400040
6      289439
0      217402
1      114999
5       87561
2       69187
4       53044
3       50943
Name: count, dtype: int64

  ### create loop for 'order_hour_of_day' to determine busiest hours of the day with:
  
  ###  Most orders = 207K to 274K
  
  ### Fewest orders = 50K to 40K
  
  ### Average orders = rest

In [101]:
# create loop for 'order_hour_of_day'

result_3 = []

for value in df_opm['order_hour_of_day']:
    if value in  [10, 11, 14, 15, 13, 12, 16, 9, 17]:
        result_3.append('Most orders')
    elif value in  [3, 4, 2, 5, 1, 0, 6, 23]:
        result_3.append('Fewest orders')
    else:
        result_3.append('Average orders')

In [108]:
# create new column 'busiest_period_of_day'
df_opm['busiest_period_of_day'] = result_3

In [110]:
# add Column 'busiest_period_of_day' to df_opm
df_opm['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       23096615
Average orders     7872582
Fewest orders      1282615
Name: count, dtype: int64

In [124]:
df_opm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regulary busy,Average orders
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Regulary busy,Average orders
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both,Regularly busy,Regulary busy,Average orders
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Regulary busy,Average orders
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Regulary busy,Average orders

# Exporting Data